<DOCTYPE html>
    <head>
    <title>"death to the byzanites"</title>
    <body>
    <h1> What to do in the face of the enemy?</h1>
    <p> i have been thinking about alot lately ...now its no more thinking ,it is do do do!!!</p>
    <p>do you ever think heaven is real mr. kowolski? Do you ponder its existence? do you wonder where.your.mother.went?</p>
    <p>where does my mother fit into all of this? she abandoned me when i was just a little baby not even a full month old...</p>
    </body>
    
    </html>
     
    
    